[submodule "demoinfo-public"]
	path = demoinfo-public
	url = https://github.com/moritzuehling/demoinfo-public.git
[submodule "ActuallyWorkingWebSockets"]
	path = ActuallyWorkingWebSockets
	url = https://github.com/main--/ActuallyWorkingWebSockets
[submodule "SyslogTrace"]
	path = SyslogTrace
	url = https://github.com/main--/SyslogTrace.git
[submodule "MongoDatastore"]
	path = MongoDatastore
	url = https://github.com/moritzuehling/MongoDatastore.git
